# Ignore all full outputs
data/outputs/*

# But keep sample previews
!data/outputs/genes_sample.txt
!data/outputs/example_bed_sample.txt
!data/outputs/letters_sample.txt
!data/outputs/example_lengths_sample.txt
!data/outputs/example_join_sample.txt


